/*#region CORE STYLES*/
:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. 
    All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. 
    For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #eb0000;
  --primaryLight: #ffba43;
  --primaryBG: #e70000;

    /*section 1
    colour = black*/
  --sec1bg: #303030;
  --sec1h1: #ffffff;

    /*section 2
    colour = white*/
    --sec2bg: #ffffff;
    --sec2h1: #000000;

  --secondary: #ffffff;
  --secondaryLight: #ffba43;
  --headerColor: #ffffff;
  --header2Color: #383838;
  --bodyTextColor: #242424;
  --bodyTextRed: #9b0000;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}

.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-title-classes {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  margin: 0 0 1rem 0;
  color: var(--sec2h1);
  position: relative;
}

.cs-title-gallery {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}
/*#endregion*/

/*#region TOP BAR + DROP DOWN*/
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation .cs-dropdown {
    position: relative;
  }

  #cs-navigation .cs-dropdown:hover {
    cursor: pointer;
  }

  #cs-navigation .cs-dropdown:hover .cs-drop-ul {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }

  #cs-navigation .cs-dropdown:hover .cs-drop-li {
    opacity: 1;
    transform: translateY(0);
  }

  #cs-navigation .cs-drop-icon {
    width: 0.75rem;
    height: auto;
    margin-left: 0.25rem;
    display: inline-block;
  }

  #cs-navigation .cs-drop-ul {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background-color: #ff0000;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
    border-bottom: 5px solid var(--primary);
    /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. 
      Change it to 3 or 4 if you need extra columns. 
      Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
    position: absolute;
    top: 100%;
    z-index: -100;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s, visibility .3s, opacity .3s;
  }

  #cs-navigation .cs-drop-li {
    list-style: none;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0;
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(-0.625rem);
    transition: opacity .6s, transform .6s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(1) {
    transition-delay: .05s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(2) {
    transition-delay: .1s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(3) {
    transition-delay: .15s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(4) {
    transition-delay: .2s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(5) {
    transition-delay: .25s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(6) {
    transition-delay: .3s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(7) {
    transition-delay: .35s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(8) {
    transition-delay: .4s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(9) {
    transition-delay: .45s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(10) {
    transition-delay: .5s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(11) {
    transition-delay: .55s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(12) {
    transition-delay: .6s;
  }

  #cs-navigation .cs-drop-li:nth-of-type(13) {
    transition-delay: .65s;
  }

  #cs-navigation .cs-li-link.cs-drop-link {
    font-size: 1rem;
    white-space: nowrap;
    line-height: 1.5em;
    text-decoration: none;
    width: 100%;
    padding: 0.75rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s, background-color 0.3s;
  }

  #cs-navigation .cs-li-link.cs-drop-link:hover {
    color: var(--primary);
    background-color: rgb(253, 234, 234);
  }

  #cs-navigation .cs-li-link.cs-drop-link:before {
    display: none;
  }
}

/*-- -------------------------- -->
  <---     Desktop Navigation     -->
  <--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  body.scroll #cs-navigation {
    /* 53px, the same height as the cs-top-container */
    transform: translateY(-80rem);
    transition: transform 5s;
  }

  #cs-navigation {
    width: 100%;
    padding: 0;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: var(--primaryBG);
    box-shadow: rgba(1rgb(184, 0, 0)157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
    transition: transform 1s;
  }

  #cs-navigation .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    padding: 0 1rem;
    /* prevents padding from affectin gheight */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    position: relative;
  }

  #cs-navigation .cs-toggle {
    display: none;
  }

  #cs-navigation .cs-logo {
    /* 40px - 44px */

    /* margin-right auto pushes everything away from it to the right */
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  #cs-navigation .cs-logo img {
    width: auto;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }

  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }

  #cs-navigation .cs-li {
    list-style: none;
    padding: 1.9375rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }

  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.3vw, 1rem);
    font-weight: 700;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: block;
    position: relative;
    transition: color .3s;
  }

  #cs-navigation .cs-li-link:hover {
    color: #000;
  }

  #cs-navigation .cs-li-link.cs-active {
    font-weight: 700;
    color: var(--headerColor);
  }

  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    padding: 0 2rem;
    background-color: #a80000;
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 0.25rem;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color .3s;
  }

  #cs-navigation .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }

  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }

  #cs-navigation .cs-nav-button {
    line-height: 2.875rem;
    margin-left: 1.5rem;
  }
}

/*#endregion*/

/*#region HERO*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-82 {
    /* Centers button */
    text-align: center;
    /* 144px - 300px - leaving extra space for the navigation */
    padding: clamp(9rem, 25.95vw, 18.75rem) 1rem 0;
    /* 130px - 200px */
    padding-bottom: clamp(8.125rem, 12.5vw, 25em);
    position: relative;
    z-index: 1;
  }

  #hero-82 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  #hero-82 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }

  #hero-82 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #hero-82 .cs-container {
    width: 100%;
    max-width: 67.5rem;
    margin: auto;
  }

  #hero-82 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    max-width: 51.8125rem;
    /* 16px - 24px */
    margin: 0 auto clamp(1rem, 4vw, 1.5rem);
    color: #fff;
    position: relative;
  }

  #hero-82 .cs-title:after {
    /* Divider Line */
    content: "";
    width: 6.25rem;
    height: 0.5rem;
    /* 16px - 24px */
    margin: clamp(1rem, 4vw, 1.5rem) auto clamp(1rem, 4vw, 1.5rem);
    background: var(--primary);
    opacity: 1;
    position: relative;
    display: block;
  }

  #hero-82 .cs-text {
    /* 16px - 25px */
    font-size: clamp(1rem, 1.95vw, 1.5625rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    /* 464px - 800px */
    max-width: clamp(29rem, 60vw, 50rem);
    margin: 0 auto;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    color: #fff;
  }

  #hero-82 .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    margin: auto;
    color: #fff;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  #hero-82 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }

  #hero-82 .cs-button-solid:hover:before {
    width: 100%;
  }
}

/*#endregion*/

/*#region PRICING  */
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-1790 {
    padding: var(--sectionPadding);
    padding-bottom: 10vw;
    background-color: var(--sec1bg);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  #pricing-1790 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  #pricing-1790 .cs-content {
    /* set text align to center if content needs to be center aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
  }

  #pricing-1790 .cs-flex {
    display: flex;
    flex-direction: column;
  }

  #pricing-1790 .cs-title {
    margin: 0;
    max-width: 100%;
  }

  #pricing-1790 .cs-wrapper {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pricing-1790 .cs-ul {
    width: 100%;
    margin: 1.5rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  #pricing-1790 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    max-width: 21.8125rem;
    color: var(--bodyTextRed);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }

  #pricing-1790 .cs-icon {
    width: 1.125rem;
    height: auto;
    display: block;
  }

  #pricing-1790 .cs-card-group {
    width: 100%;
    max-width: 57rem;
    margin: 3rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pricing-1790 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    /* 32px - 40px top *
            /* 16px - 32px left & right */
    padding: clamp(2rem, 2vw, 2.5rem) clamp(1rem, 1.5vw, 2rem);
    background-color: #FFFFFF;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
  }
  

  #pricing-1790 .cs-item.cs-popular {
    background-color: #1A1A1A;
    color:#ffffff;
    /* 48px - 64px top & bottom */
    /* 16px - 32px left & right */
    padding: clamp(3rem, 6vw, 4rem) clamp(1rem, 1.5vw, 2rem);
  }

  #pricing-1790 .cs-item.cs-popular .cs-package,
  #pricing-1790 .cs-item.cs-popular .cs-frequency,
  #pricing-1790 .cs-item.cs-popular .cs-item-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.9;
  }

  #pricing-1790 .cs-item.cs-popular .cs-price {
    color: var(--bodyTextColorWhite);
  }

  #pricing-1790 .cs-item.cs-popular .cs-button-solid {
    transition: color 0.3s;
  }

  #pricing-1790 .cs-item.cs-popular .cs-button-solid:hover {
    color: var(--primary);
  }

  #pricing-1790 .cs-item.cs-popular .cs-button-solid:before {
    background-color: #fff;
  }

  #pricing-1790 .cs-package {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.4vw, 1rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    text-transform: uppercase;
    margin: 0 0 0.25rem 0;
    color: var(--bodyTextColor);
    display: block;
  }

  #pricing-1790 .cs-flex-wrapper {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1;
  }

  #pricing-1790 .cs-flex-wrapper:after {
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(232, 232, 232, 0.2) 0%, #e8e8e8 53.78%, rgba(232, 232, 232, 0.2) 100%);
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
  }

  #pricing-1790 .cs-price {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--header2Color);
  }

  #pricing-1790 .cs-frequency {
    font-size: 70%;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--header2Color);
    display: block;
  }

  #pricing-1790 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 auto;
    color: var(--bodyTextColor);
  }

  #pricing-1790 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 2rem 0 0 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  #pricing-1790 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }

  #pricing-1790 .cs-button-solid:hover:before {
    width: 100%;
  }

}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-1790 .cs-container {
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }

  #pricing-1790 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  #pricing-1790 .cs-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }

  #pricing-1790 .cs-card-group {
    flex-direction: row;
    align-items: stretch;
  }

  #pricing-1790 .cs-item {
    height: auto;
    margin: 1.5rem 0;
  }

  #pricing-1790 .cs-item.cs-popular {
    margin: 0;
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing-1790 .cs-ul {
    width: 30%;
    display: flex;
  }

  #pricing-1790 .cs-wrapper {
    flex-direction: row;
    gap: 1.25rem;
  }

  #pricing-1790 .cs-card-group {
    margin: 0;
  }

  #pricing-1790 .cs-item {
    min-height: 25rem;
  }
}

/*#endregion*/

/*#region CLASSES */
/*-- -------------------------- -->
<---          CLASSES          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-448 {
    padding: var(--sectionPadding);
  }

  #services-448 .cs-container {
    width: 100%;
    /* changes at 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }

  #services-448 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-end;
    
  }

  #services-448 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 16px - 20px */
    column-gap: clamp(1rem, 1.5vw, 1.25rem);
    /* 24px - 60px */
    row-gap: clamp(1.5rem, 5vw, 3.75rem);
  }

  #services-448 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 22.5rem;
    /* changes at desktop */
    padding-top: 9rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #services-448 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
    opacity: 0.4;
  }

  #services-448 .cs-item:hover .cs-flex:before {
    opacity: 1;
  }

  #services-448 .cs-picture {
    width: 100%;
    /* changes at desktop */
    height: 15.625rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
    /* clips the corners of the image */
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #services-448 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it behave like a background image */
    object-fit: cover;
    /* positions top of image to the top of the container */
    object-position: top;
    transition:
      transform 0.9s,
      opacity 0.5s;
  }

  #services-448 .cs-flex {
    text-align: center;
    width: 88%;
    padding: 0 1.5rem 1.5rem 1.5rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    border: 1px solid #dad9e3;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #services-448 .cs-flex:before {
    /* hover border box */
    content: "";
    background: transparent;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    border: 4px solid var(--primary);
    border-radius: 0.75rem;
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    opacity: 0;
    position: absolute;
    display: block;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    transition: opacity 0.5s;
  }

  #services-448 .cs-wrapper {
    /* 80px - 120px */
    width: clamp(5rem, 9.2vw, 7.5rem);
    height: clamp(5rem, 9.2vw, 7.5rem);
    /* 20px - 24px */
    margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
    /* we use the same clamp value for height & width, but multiple by -.5 so it will be a negative value, and be half of the height.  Negative margins pull things toward the element so they overlap them, in this case we want the .cs-wrapper to overlap .cs-flex by half its height, so we use the same clamp for height and half it for the margin top value */
    margin-top: calc(clamp(5rem, 9.2vw, 7.5rem) * -0.5);
    border-radius: 50%;
    border: 4px solid var(--primary);
    background-color: #fff;
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  #services-448 .cs-icon {
    /* 48px - 64px */
    width: clamp(7rem, 4.3vw, 4rem);
    height: auto;
    display: block;
  }

  #services-448 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 1.9vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    color: var(--sec2h1);
  }

  #services-448 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    font-weight: 400;
    /* 20px - 24px */
    margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
    color: var(--bodyTextColor);
  }

  #services-448 .cs-link {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    color: var(--primary);
    display: inline-block;
    position: relative;
  }

  #services-448 .cs-link:hover:before {
    width: 100%;
  }

  #services-448 .cs-link:before {
    /* animated underline */
    content: "";
    width: 0%;
    height: 3px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-448 .cs-container {
    max-width: 80rem;
  }

  #services-448 .cs-card-group {
    flex-direction: row;
  }

  #services-448 .cs-item {
    width: 47%;
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-448 .cs-card-group {
    flex-wrap: nowrap;
  }

  #services-448 .cs-item {
    width: 100%;
    /* 144px - 274px */
    padding-top: clamp(9rem, 17.5vw, 17.125rem);
  }

  #services-448 .cs-picture {
    /* 224px - 428px */
    height: clamp(14rem, 28vw, 26.75rem);
  }
}

/*#endregion*/

/*#region FOOTER*/
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #footer-1147 {
    padding-top: 30px;
    padding-bottom: 30px;
      position: relative;
      z-index: 1;
      background-color: var(--primary);
  }
  #footer-1147 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #footer-1147 .cs-top {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
  }
  #footer-1147 .cs-ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      row-gap: 0.5rem;
      /* 28px - 40px */
      column-gap: clamp(1.75rem, 4vw, 2.5rem);
  }
  #footer-1147 .cs-li {
      list-style: none;
  }
  #footer-1147 .cs-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      font-weight: 700;
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: #242121;
      display: block;
      transition: color 0.3s;
  }
  #footer-1147 .cs-link:hover {
      color: var(--secondary);
      text-decoration: underline;
  }
  #footer-1147 .cs-logo {
      width: 10.5rem;
      height: auto;
      display: block;
  }
  #footer-1147 .cs-logo-img {
      width: 100%;
      height: auto;
      display: block;
  }
  #footer-1147 .cs-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
  }
  #footer-1147 .cs-social {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
  }
  #footer-1147 .cs-social-li {
      list-style: none;
  }
  #footer-1147 .cs-social-link {
      width: 2rem;
      height: 2rem;
      background-color: #484848;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;
  }
  #footer-1147 .cs-social-link:hover {
      background-color: var(--secondary);
  }
  #footer-1147 .cs-social-link:hover .cs-social-icon {
      filter: grayscale(1) brightness(0);
      opacity: 1;
  }
  #footer-1147 .cs-social-icon {
      width: 0.75rem;
      height: auto;
      display: block;
      opacity: 0.5;
  }

}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #footer-1147 .cs-top {
      flex-direction: row;
      justify-content: space-between;
  }
  #footer-1147 .cs-bottom {
      flex-direction: row;
      justify-content: space-between;
  }
}
/*#endregion*/

/*#region GALLERY*/

#gallery {
  padding: var(--sectionPadding);
  background-color: var(--sec1bg);
}

#gallery .cs-container {
  width: 100%;
  /* changes at 1280px at tablet */
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 48px - 64px */
  gap: clamp(3rem, 6vw, 4rem);
}

.header .lead {
  max-width: 820px;
}


.carousel {
  width: 1000px;
  margin: 0 auto;
}
.carousel-item {
    .lg-item > img {
        height: 600px;
        width: 1000px;
    }
}

#gallery .cs-content {
  /* set text align to left if content needs to be left aligned */
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* centers content horizontally, set to flex-start to left align */
  align-items: flex-start;
  
}
/*#endregion*/
